.detailBox{
    height: 434px;
    width: 49.5%;
    background-position: center center;
    background-size: cover;
}
.detailBox2{
    height: 213px;
    background-position: center center;
    background-size: cover;
}
.detailBox3{
    height: 213px;
    background-position: center center;
    background-size: cover;
}
.detailBox4{
    height: 151px;
    background-position: center center;
    background-size: cover;
}
.roomTypeImg{
    width: 255px;
    background-position: center center;
    background-size: cover;
    border-radius:8px 0 0 8px;
}