// 社群
.wrapper .button{
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    transition:all 0.3s ease-out;
}
.wrapper .fb:hover .icon{
    background: #4267B2;
}
.wrapper .ig:hover .icon{
    background: linear-gradient(115deg, #cf4f75, #af14af, #fe8412, #ce44b7);;
}
.wrapper .line:hover .icon{
    background: #00dd00d7;
}

.wrapper .button .icon i{
    font-size: 20px;
    line-height: 40px;
    transition:all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color:#fff;
}